body {
    text-align: justify;
    margin: 30px;
    background-color:bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: justify;
    font-style: oblique;
    color: rgba(191, 16, 16, 0.862);
}

img {
    width: 300px;
    border-color: red;
    border-style: double;
}

h2 {
    color: gray;
    font-style: oblique;
}

h3 {
    color:rgba(191, 16, 16, 0.862); 
}